body {
  background-image: linear-gradient(
    to left top,
    #ffb200,
    #eb5b00,
    #e4003a,
    #b60071
  );
}
p{
   font-family: "UnifrakturMaguntia", cursive;
   font-size: 18px;
}
li{
  font-size: 30px;
  font-family: "UnifrakturMaguntia", cursive;

}
